.tarea-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input {
    width: 390px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #343a40;
    outline: none;
}

.tarea-boton {
    padding: 16px;
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
    font-weight: 200;
    border: 1.5px solid #343a40;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #343a40;
    color: #fff;
    text-transform: capitalize;
}