* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  color: #f8f9fa;
  background-color: #343a40;
  margin-top: 40px;
}

h1 {
  color: #343a40;
  font-size: 50px;
  text-align: center;
  margin: 20px, 0;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Tareas-lista {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}